#site-footer {
  padding: 34px var(--l-block-spacing);

  &.accent-about {
    background-color: var(--dandelion);
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  & li {
    margin-left: 20px;

    &:first-child {
      font-size: 18px;
      font-weight: bold;
      margin-left: 0
    }
  }

  & a {
    font-weight: normal;
  }
}