#site-footer {
  padding: 0 var(--l-block-spacing);

  &.accent-about {
    background-color: var(--dandelion);
  }

  & ul {
    border-top: 3px solid var(--black);
    display: flex;
    margin: 0;
    padding: 34px 0;
    list-style: none;
  }

  & li {
    margin-left: 20px;

    &:first-child {
      font-size: 18px;
      font-weight: bold;
      margin-left: 0
    }
  }

  & a {
    font-weight: normal;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}