@custom-media --footer-desktop (min-width: 835px);

#site-footer {
  padding: 0 var(--s-block-spacing);

  @media(--g-large-viewport) {
    padding: 0 var(--l-block-spacing);
  }

  & .footer-wrapper {
    border-top: 3px solid var(--black);
  }

  & ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 34px 0;
    float: left;

    @media(--footer-desktop) {
      align-items: center;
      flex-direction: row;
    }
  }

  & li {
    margin-top: 2px;
    margin-left: 0;

    @media(--footer-desktop) {
      margin-top: 0;
      margin-left: 20px;
    }

    &:first-child {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }
  }

  & a {
    color: var(--black);
    font-weight: normal;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  & p.la-review-of-books {
    background-image: url('../../../../public/img/la-review-of-books.png');
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 25px 0 25px 40px;
    font-size: 18px;
    float: right;
  }
}