@custom-media --header-mobile (max-width: 768px);

#site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &.accent-home,
  &.accent-about {
    background-color: var(--dandelion);
  }

  &.accent-post {
    background-color: var(--coral);
  }
  
  & .logo-wrap {
    border-bottom: 3px solid var(--black);
    display: flex;
    padding: var(--s-block-spacing) var(--l-block-spacing);
    position: relative;
    
    & .logo {
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    & .social-icons,
    & .menu-toggle {
      margin-left: auto;
    }

    & .social-icons {
      align-self: flex-end;
      @media(--header-mobile) {
        display: none;
      }

      & a {
        display: inline-block;
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    & .menu-toggle {
      align-self: center;
      display: none;

      @media(--header-mobile) {
        display: block;
      }

      &.opened {
        & .close-icon {
          display: block;
        }

        & .menu-icon {
          display: none;
        }
      }

      & .close-icon {
        display: none;
      }

      & img {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  & nav {
    width: 100%;
    background: var(--white);
    border-bottom: 3px solid var(--black);
    text-align: center;

    @media(--header-mobile) {
      height: 0;
      overflow: hidden;
      border-bottom: 0;
    }

    & a {
      display: inline-block;
      color: var(--black);
      font-size: 18px;
      font-weight: normal;
      letter-spacing: -1.01px;
      padding: 1rem;

      &.active {
        font-weight: bold;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    & .social-icons {
      display: none;

      @media(--header-mobile) {
        display: block;
      }
    }
  }

}
