.donate-popup {
  z-index: 99;
  position: fixed;
  top: 12.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  @media(--g-large-viewport) {
    top: 13%;
    height: 100%;
    max-width: 700px;
    max-height: 500px;
  }

  &.hidden {
    display: none;
  }

  & .g-content-wrap {
    background-color: var(--soft-amber);
    border: var(--black-border);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  & .content {
    text-align: center;
    margin: 0 auto;

    @media(--g-large-viewport) {
      max-width: 350px;
      max-height: 400px;
    }
  }

  & .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  & .g-button {
    margin-top: 20px;

    @media(--g-large-viewport) {
      margin-top: 40px;
    }
  }

  & h2 {
    line-height: 1.61;
    margin-top: 20px;
    margin-bottom: 0;

    @media(--g-medium-viewport) {
      font-size: 40px;
      letter-spacing: -2.25px;
      line-height: 1.125;
      margin: 0;
    }
  }

  & p {
    font-size: 18px;
    letter-spacing: -1.01px;
    line-height: 1.667;

    @media(--g-large-viewport) {
      font-size: 31px;
      letter-spacing: -1.74px;
      line-height: 1.45;
      margin: 15px 0;
    }
  }

  & ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

    &.amount-options {
      flex-wrap: wrap;
    }
  }

  & li {
    &:first-child {
      margin: 0;
    }
  }

  & input[type="radio"] {
    position: absolute;
    clip: rect(0 0 0 0);
  }

  & label.checked {
    color: var(--white);
    background-color: var(--black);
  }

  & .g-button {
    text-decoration: none;
  }

  & .custom-amount {
    & label.checked {
      & input {
        color: var(--white);
      }

      & input:focus {
        outline: none;
      }

      & input[type=number] {
        background-color: var(--black);
        border-bottom: 1px solid var(--white);
      }
    }

    & input[type=number] {
      border: 0;
      background-color: var(--soft-amber);
      font-size: 18px;
      width: 75px;
      border-bottom: 1px solid var(--black);
    }

    & input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    & span.input-descriptor {
      padding-right: 5px;
    }

    & span.input-symbol-dollar input {
      padding-left: 10px;
    }

    & span.input-symbol-dollar:before {
      content: '$';
      font-size: 18px;
    }
  }

  & button.g-button {
    margin: 20px;

    @media(--g-large-viewport) {
      margin: 20px 0 0 0;
    }
  }
}
