@import '../../variables.css';

@custom-media --about-page-tablet (min-width: 475px);
@custom-media --about-page-desktop (min-width: 768px);
@custom-media --info-columns-unstack (min-width: 960px);

#about {

  & section {
    text-align: center;
    padding-left: var(--s-block-spacing);
    padding-right: var(--s-block-spacing);

    @media(--g-large-viewport) {
      padding-left: var(--l-block-spacing);
      padding-right: var(--l-block-spacing);
    }
  }

  & h2 {
    font-size: 28px;
    letter-spacing: -1.57px;
    line-height: 1.61;
  
    @media(--about-page-desktop) {
      font-size: 40px;
      letter-spacing: -2.25px;
      line-height: 1.13;
    }
  }

  & p,
  & a {
    word-wrap: break-word;
  }
  
  & .p-info-columns {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    @media(--info-columns-unstack) {
      flex-flow: nowrap;
    }

    & .column {
      flex: 1 1 100%;
      margin: 0 18px;

      &:nth-child(n + 3) {
        margin-top: 20px;
      }

      @media(--info-columns-unstack) {
        flex-basis: 40%;

        &:nth-child(n + 3) {
          margin-top: 0;
        }
      }

      & > *:first-child {
        margin-top: 0;
      }
    }

    & h2 {
      margin-bottom: 56px;
    }

    & h3 {
      font-size: 22px;
      letter-spacing: -1.24px;
      margin-bottom: 10px;

      @media(--info-columns-unstack) {
        font-size: 35px;
        margin-top: 20px;
      }
    }

    & p,
    & a {
      font-size: 18px;
      letter-spacing: -0.47px;
      line-height: 2.22;
      margin: 10px 0;

      @media(--info-columns-unstack) {
        font-size: 30px;
        letter-spacing: -0.79px;
        line-height: 1.33;
      }
    }

    & a {
      font-weight: normal;
    }
  }

  & .about-us {
    background-color: var(--island-spice);
    padding-top: 40px;
    padding-bottom: 80px;

    @media(--about-page-desktop) {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    & p {
      font-size: 18px;
      letter-spacing: -1.01px;
      line-height: 1.22;
      margin: 0 auto;
      max-width: 875px;

      @media (--about-page-desktop) {
        font-size: 35px;
        letter-spacing: -1.97px;
        line-height: 1.29;
      }
    }
  }

  & .contact-info {
    background-color: var(--black-white);
    padding-top: 40px;
    padding-bottom: 60px;

    @media(--about-page-desktop) {
      padding-top: 120px;
      padding-bottom: 100px;
    }
  }

  & .contact-jc {
    background-color: var(--salomie);
    padding-top: 40px;
    padding-bottom: 60px;

    @media(--about-page-desktop) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
   
    & .body {
      margin: 0 auto;
      max-width: 1029px;
    }

    & h2 {
      margin-bottom: 20px;
    }

    & h3,
    & p,
    & a {
      font-size: 22px;

      @media(--about-page-desktop) {
        font-size: 35px;
      }
    }

    & h3 {
      margin: 35px 0 0;

      &:first-child {
        margin-top: 0;
      }
    }

    & p {
      margin-top: 0;
      margin-bottom: 40px;
    }

    & a {
      font-weight: normal;
      text-decoration: underline;
      transition: opacity .25s ease-out;

      &:hover,
      &:focus {
        opacity: .6;
      }
    }
  }
  
  & .testimonials {
    display: flex;
    flex-flow: wrap;
    padding: 0;
    
    @media(--about-page-desktop) {
      flex-flow: nowrap;
    }

    & .testimonial {
      flex: 1 1 auto;
      padding: 40px var(--s-block-spacing) 60px;

      @media(--about-page-desktop) {
        padding: 140px 70px;
      }

      &:first-child {
        background-color: var(--pizza);
        border-bottom: 3px solid var(--black);

        @media(--about-page-desktop) {
          border-bottom: 0;
          border-right: 3px solid var(--black);
        }
      }

      &:last-child {
        background-color: var(--sycamore);
      }

      & .source {
        position: relative;
        margin-top: 40px;
        padding-top: 20px;

        @media(--about-page-desktop) {
          padding-top: 40px;
        }

        &:before {
          content: '';
          background-color: var(--black);
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 55px;
          height: 3px;
        }

        & span {
          font-weight: bold;
        }
      }

      & span {
        font-size: 28px;
        letter-spacing: -1.57px;
        line-height: 1.61;

        @media(--about-page-desktop) {
          font-size: 35px;
          letter-spacing: -1.97px;
          line-height: 1.29;
        }
      }

      & p {
        margin: 0 auto;
        max-width: 575px;
        font-size: 18px;
        letter-spacing: -1.01px;
        line-height: 1.39;

        @media(--about-page-desktop) {
          font-size: 35px;
          letter-spacing: -1.97px;
          line-height: 1.29;
        }
      }
    }
  }

  & .staff {
    background-color: var(--island-spice);
    padding-top: 40px;
    padding-bottom: 50px;

    @media(--about-page-desktop) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  & .newsletter-signup {
    background-color: var(--dandelion);
    padding: 30px var(--s-block-spacing) 40px;
    
    @media(--about-page-tablet) {
      padding: 80px var(--l-block-spacing);
    }

    & input[type="email"] {
      background-color: var(--dandelion);

      &::placeholder {
        color: var(--black);
      }
    }
  }
}
