.newsletter-signup {
  text-align: center;

  & h2 {
    margin-bottom: var(--l-block-spacing);
    font-size: 40px;
    letter-spacing: -2.25px;
    line-height: 1.125;
  }

  & form {
    display: flex;
    margin: 0 auto;
    max-width: 700px;
  }

  & input {
    font-size: 18px;
  }

  & input[type="email"] {
    flex: 1 1 auto;
    padding: 12px 20px;
  }

  & input[type="submit"] {
    border: 0;
    padding: 12px 30px;
  }
}