.newsletter-signup {
  text-align: center;

  & h2 {
    font-size: 28px;
    letter-spacing: -1.58px;
    line-height: 1.1;
    margin-bottom: var(--s-block-spacing);

    @media(--g-medium-viewport) {      
      font-size: 40px;
      letter-spacing: -2.25px;
      line-height: 1.125;
      margin-bottom: var(--l-block-spacing);
    }
  }

  & form {
    display: flex;
    margin: 0 auto;
    max-width: 700px;
  }

  & input {
    border: none;
    outline: none;
    font-size: 14px;
    
    @media(--g-medium-viewport) {
      font-size: 18px;
    }
  }

  & input[type="email"] {
    flex: 1 1 auto;
    padding: 12px 20px;
  }

  & input[type="submit"] {
    border: 0;
    padding: 12px 8px;

    @media(--g-medium-viewport) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}