:root {
  --white: #FFF;
  --black: #000;
  --dandelion: #FFBF00;

  --l-block-spacing: 40px;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 2.1em;
}

a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

img {
  display: block;
  max-width: 100%;
}

.content {
  padding: 1rem;
}
