@import 'variables.css';

@font-face {
  font-family: 'Moderat';
  src: url('/font/moderat/regular/regular.woff2') format('woff2'), 
       url('/font/moderat/regular/regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('/font/moderat/italic/regular-italic.woff2') format('woff2'), 
       url('/font/moderat/italic/regular-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat';
  src: url('/font/moderat/bold/bold.woff2') format('woff2'), 
       url('/font/moderat/bold/bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('/font/moderat/bold-italic/bold-italic.woff2') format('woff2'), 
       url('/font/moderat/bold-italic/bold-italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-stack);
  font-weight: 300;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

section {
  padding-bottom: var(--s-block-spacing);
  border-bottom: var(--black-border);

  &:last-child {
    border-bottom: 0;
  }

  @media(--g-medium-viewport) {
    padding-bottom: var(--l-block-spacing);
  }
}

h1,
h2,
h3 {
  margin-top: 0;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 28px;
  letter-spacing: -1.57px;
  line-height: 1.25;

  @media(--g-large-viewport) {
    font-size: 35px;
    letter-spacing: -1.97px;
    line-height: 1.29;
  }
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: -1.97px;
}

p {
  font-size: 21px;
}

a {
  text-decoration: none;
  font-size: 18px;

  &:hover {
    text-decoration: underline;
  }
}

#root,
#root > div {
  display: flex;
  flex-direction: column;
  height: 100%;

  & > .content {
    display: flex;
    flex: 1 0 auto; /* 2 */
    flex-direction: column;
  }
}

.g-content-wrap {
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding-left: var(--s-block-spacing);
  padding-right: var(--s-block-spacing);

  @media(--g-large-viewport) {
    padding-left: var(--l-block-spacing);
    padding-right: var(--l-block-spacing);
  }
}

.g-accent {
  color: var(--black);

  & a:hover {
    text-decoration: none;
  }
}

.g-button {
  border: var(--black-border);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  letter-spacing: -1.01px;
  padding: 10px var(--s-block-spacing);
  text-align: center;
  text-decoration: underline;
}

.g-button-filled {
  color: var(--white);
  background-color: var(--black);
  font-size: 18px;
  letter-spacing: -1.01px;
}

.g-bold-link,
.g-underline-link {
  transition: opacity .25s ease-out;

  &:hover,
  &:focus {
    opacity: .6;
  }
}

.g-underline-link {
  color: var(--black);
  font-weight: normal;
  text-decoration: underline;
}

.g-bold-link {
  color: var(--black);
  font-size: 18px;
  font-weight: bold;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.g-border-wrap {
  border: var(--black-border);

  & picture, & img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    object-position: center 25%;
    width: 100%;
    height: 100%;
  }
}

.g-ad_350x600 {
  background-color: var(--soft-amber);
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 350px;
  height: 600px;

  & h3 {
    display: inline-block;
  }
}