:root {
  /* colors  */
  --white: #FFF;
  --black: #000;

  /* theme colors */
  --black-white: #FFFFFE;
  --coral : #FF7F45;
  --dandelion: #FFBF00;
  --island-spice: #FFFAED;
  --pizza: #C39815;
  --salomie: #FFE187;
  --soft-amber: #D8D0B9;
  --sycamore: #AB9040;

  /* borders */
  --black-border: 3px solid var(--black);
  
  /* block spacing */
  --s-block-spacing: 20px;
  --m-block-spacing: 30px;
  --l-block-spacing: 40px;

  /* content */
  --content-max-width: 1440px;

  /* fonts */
  --font-stack: 'Moderat', Helvetica, Arial, system-ui;
}

