#home {
  & section {
    padding-top: var(--s-block-spacing);

    @media(--g-medium-viewport) {
      padding-top: var(--l-block-spacing);
    }
  }

  & .g-button {
    &:hover {
      background-color: var(--dandelion);
    }
  }

  & .g-accent {
    color: var(--dandelion);
  }

  & .featured-post {
    padding-top: 36px;
  }

  & .post-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    @media(max-width: 768px) {
      flex-flow: wrap;
    }

    &.split {
      & .g-post {
        @media(max-width: 768px) {
          padding: 0;
        }

        &:first-child {
          flex: 1 1 100%;
          max-width: 517px;
          margin-right: var(--l-block-spacing);

          @media(max-width: 768px) {
            margin-right: 0;
          }
        }

        &:last-child {
          border-left: 3px solid var(--black);

          @media(max-width: 768px) {
            border-left: 0;
          }
        }
      }
    }

    & .g-post {
      padding-left: var(--l-block-spacing);

      @media(max-width: 768px) {
        padding-left: 0;
        margin-bottom: var(--s-block-spacing);

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  & .shop-now-ad {
    position: relative;
    border-bottom: 0;

    & .g-border-wrap {
      background-color: var(--soft-amber);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      overflow: hidden;
      position: relative;
      height: 300px;

      @media(--g-large-viewport) {
        height: 400px;
      }
    }

    & .issue-details {
      flex: 0 1 50%;
      position: relative;
      z-index: 1;

      @media(--g-medium-viewport) {
        flex-basis: 30%;
      }
    }
    
    & .image-wrap {
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-75%);

      @media(--g-medium-viewport) {
        left: 40%;
      }
    }

    & picture, & img {
      height: 100%;
      max-width: initial;
    }

    & h2 {
      font-size: 20px;
      letter-spacing: -1.12px;
      line-height: 1.7;
      margin-bottom: 10px;

      @media(--g-large-viewport) {
        font-size: 35px;
        letter-spacing: -1.97px;
        line-height: .97;
      }
    }

    & a {
      font-size: 14px;
      letter-spacing: -0.79px;

      @media(--g-large-viewport) {
        font-size: 18px;
        letter-spacing: -1.01px;
      }
    }
  }

  & .subscribe-callout {
    padding-bottom: 70px;
  }

  & .newsletter-signup {
    padding: var(--l-block-spacing) 0;

    @media(--g-medium-viewport) {
      padding: 80px 0;
    }
  }
}