.featured-post {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .image {
    flex: 1 1 auto;
  }

  & .details {
    flex: 1 1 50%;
    padding-left: var(--l-block-spacing);
  }

  & author {
    margin-left: 10px;
  }
} 