@custom-media --post-unstacked (min-width: 960px);

.g-post {
  display: flex;
  align-items: center;
  flex-flow: wrap;

  @media(--post-unstacked) {
    flex-flow: nowrap;
  }

  /* Toggle to stacked layout by adding this class */
  &.stacked {
    flex-flow: wrap;

    & .image {
      flex-basis: auto;
      width: 100%;
      margin-bottom: var(--s-block-spacing);
    }

    & .details {
      margin-left: 0;
    }
  }

  & .image {
    max-width: 770px;
    overflow: hidden;
    flex: 1 1 100%;

    @media(--post-unstacked) {
      flex-basis: 60%;
      margin-bottom: var(--s-block-spacing);
    }
  }

  & .details {
    flex: 1 1 auto;
    max-width: 583px;
    margin-top: 20px;
    margin-left: 0;

    @media(--post-unstacked) {
      margin-left: var(--l-block-spacing);
    }

    & .info,
    & .info span,
    & .info a {
      font-size: 12px;
      letter-spacing: -0.68px;
      margin-bottom: 15px;

      @media(--post-unstacked) {
        font-size: 18px;
      }
    }
  }

  & .title a,
  & .label a {
    font: inherit;
    color: inherit;
  }

  & .title {
    margin-top: 0;
    margin-bottom: 15px;
    
    @media(--post-unstacked) {
      font-size: 35px;
    }
  }

  & .label {
    font-size: 14px;
    letter-spacing: -0.24px;
    margin-bottom: 15px;

    @media(--post-unstacked) {
      font-size: 22px;
      letter-spacing: -0.38px;
    }
  }

  & .author {
    margin-left: 10px;
  }

  & .excerpt {
    margin-bottom: 45px;
    font-size: 18px;
    letter-spacing: -0.47px;

    @media(--post-unstacked) {
      font-size: 21px;
    }
  }
} 