.search-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--l-block-spacing) var(--s-block-spacing);
  overflow: auto;
  opacity: 1;
  transform: scale(1);
  transform-origin: 100% 0%;
  transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  
  &.hidden {
    transform: scale(0);
    opacity: 0;
  }

  & .close-icon {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  & .g-content-wrap {
    width: 100%;
    max-width: 1000px;
    max-height: 100%;
    padding: 0;
  }
}